<form method="post" action="{{ path('recommendation_level_delete', {'id': recommendation_level.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recommendation_level.id) }}">
    <button class="btn">Delete</button>
</form>
