{% extends 'base_backend.html.twig' %}

{% block title %}Edit RecommendationLevel{% endblock %}

{% block body %}
    <h1>Edit RecommendationLevel</h1>

    {{ include('recommendation_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recommendation_level_index') }}">back to list</a>

    {{ include('recommendation_level/_delete_form.html.twig') }}
{% endblock %}
