{% extends 'base_backend.html.twig' %}

{% block title %}RecommendationLevel{% endblock %}

{% block body %}
    <h1>RecommendationLevel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recommendation_level.id }}</td>
            </tr>
            <tr>
                <th>Specification</th>
                <td>{{ recommendation_level.specification }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ recommendation_level.level }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recommendation_level.description }}</td>
            </tr>
            <tr>
                <th>Hierachy</th>
                <td>{{ recommendation_level.hierachy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('recommendation_level_index') }}">back to list</a>

    <a href="{{ path('recommendation_level_edit', {'id': recommendation_level.id}) }}">edit</a>

    {{ include('recommendation_level/_delete_form.html.twig') }}
{% endblock %}
