<form method="post" action="{{ path('anchor_tag_delete', {'id': anchor_tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anchor_tag.id) }}">
    <button class="btn">Delete</button>
</form>
