{% extends 'base_backend.html.twig' %}

{% block title %}Edit AnchorTag{% endblock %}

{% block body %}
    <h1>Edit AnchorTag</h1>

    {{ include('anchor_tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('anchor_tag_index') }}">back to list</a>

    {{ include('anchor_tag/_delete_form.html.twig') }}
{% endblock %}
