{% extends 'base_backend.html.twig' %}

{% block title %}AnchorTag index{% endblock %}

{% block body %}
    <h1>AnchorTag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tag</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anchor_tag in anchor_tags %}
            <tr>
                <td>{{ anchor_tag.id }}</td>
                <td>{{ anchor_tag.tag }}</td>
                <td>{{ anchor_tag.description }}</td>
                <td>
                    <a href="{{ path('anchor_tag_show', {'id': anchor_tag.id}) }}">show</a>
                    <a href="{{ path('anchor_tag_edit', {'id': anchor_tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('anchor_tag_new') }}">Create new</a>
{% endblock %}
