{% extends 'base_backend.html.twig' %}

{% block title %}New AnchorTag{% endblock %}

{% block body %}
    <h1>Create new AnchorTag</h1>

    {{ include('anchor_tag/_form.html.twig') }}

    <a href="{{ path('anchor_tag_index') }}">back to list</a>
{% endblock %}
