{% extends 'base_backend.html.twig' %}

{% block title %}Edit Algorithm{% endblock %}

{% block body %}
    <h1>Edit Algorithm</h1>

    {{ include('algorithm/_form.html.twig', {'button_label': 'Update'}) }}

    <h4>Readable If-Statement</h4>
    {{ readableIfStatement|raw }}

    {# remove the current algorithm from the list and thereby stop self-reference #}
    {% set algorithms = [] %}
    {% for possibleAlgorithm in algorithm.getQuestionaire.getAlgorithms %}
        {% if possibleAlgorithm == algorithm %}
        {% else %}
        {% set algorithms = algorithms|merge([possibleAlgorithm]) %}
        {% endif %}
    {% endfor %}

    {{ include('_js_sortable_to_json.html.twig', {
        'questionItems': algorithm.getQuestionaire.getQuestionItems,
        'algorithms': algorithms,
        'questionItemParents': questionItemParents,
        'formName': 'algorithm',
        'formItemIDIfStatement': 'algorithm_ifStatement',
        'formItemIDStar': 'algorithm_recommendedPath'}) }}

    <a href="{{ url('algorithm_index_by_questionaire', {'questionaireId': algorithm.questionaire.id}) }}">back to list</a>

    {{ include('algorithm/_delete_form.html.twig') }}
{% endblock %}
