{% extends 'base_backend.html.twig' %}

{% block title %}Algorithm index{% endblock %}

{% block body %}

    <h3>Algorithms for {{ questionaire }}</h3>


    <a href="{{ path('algorithm_new', {'questionaireId': questionaire.id}) }}">Create new</a>




        <table class="table">
            <thead>
            <tr>
                <th>Description</th>
                <th>IfStatement</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for algorithm in questionaire.getAlgorithms %}
                <tr>
                    <td>{{ algorithm.description }}</td>
                    <td title="{{ readableIfStatements[algorithm.id]|striptags }}">{{  readableIfStatements[algorithm.id] |length > 200 ? 'too much text - hover or click on show' : readableIfStatements[algorithm.id]|raw }}</td>
                    <td>
                        <a href="{{ path('algorithm_show', {'id': algorithm.id}) }}">show</a>
                        <a href="{{ path('algorithm_edit', {'id': algorithm.id}) }}">edit</a>
                        <a href="{{ path('anchor_algorithm_new', {'algorithmId': algorithm.id}) }}">
                            <button>Add Anchors</button>
                        </a>
                    </td>
                </tr>
                {% for anchor in algorithm.getAnchorThen %}
                    <tr class="table success">
                        <td></td>
                        <td><p {% if anchor.reviewStatus == 'REJECTED' %}title="{{ anchor.reviewCmt }}"
                               class="text-danger"{% endif %}>Anchors:
                                {{ anchor.text|raw }} ({{ anchor.getGuideline }}
                                ) {% if anchor.reviewStatus == 'OK' %}<span title="Reviewed and approved Anchor"
                                                                            class="glyphicon glyphicon-ok-circle"></span>{% endif %}
                            </p>
                        </td>
                        <td>

                            {{ include('review/_anchor_review_snippet.html.twig') }}

                            <a href="{{ path('anchor_show', {'id': anchor.id}) }}" class="btn btn-success">
                                Show Anchor
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr><br><br><br>










{% endblock %}