{% extends 'base_backend.html.twig' %}

{% block title %}New Algorithm{% endblock %}

{% block body %}
    <h1>Create new Algorithm</h1>

    {{ include('algorithm/_form.html.twig') }}
    {{ include('_js_sortable_to_json.html.twig', {
        'questionItems': algorithm.getQuestionaire.getQuestionItems,
        'algorithms': algorithm.getQuestionaire.getAlgorithms,
        'questionItemParents': questionItemParents,
        'formName': 'algorithm',
        'formItemIDIfStatement': 'algorithm_ifStatement',
        'formItemIDStar': 'algorithm_recommendedPath'}) }}
    <a href="{{ path('algorithm_index') }}">back to list</a>

{% endblock %}

