<form method="post" action="{{ path('guideline_table_delete', {'id': guideline_table.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guideline_table.id) }}">
    <button class="btn">Delete</button>
</form>
