{% extends 'base_backend.html.twig' %}

{% block title %}GuidelineTable index{% endblock %}

{% block body %}
    <h1>GuidelineTable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Content</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guideline_table in guideline_tables %}
            <tr>
                <td>{{ guideline_table.id }}</td>
                <td>{{ guideline_table.number }}</td>
                <td>{{ guideline_table.content }}</td>
                <td>{{ guideline_table.description }}</td>
                <td>
                    <a href="{{ path('guideline_table_show', {'id': guideline_table.id}) }}">show</a>
                    <a href="{{ path('guideline_table_edit', {'id': guideline_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guideline_table_new') }}">Create new</a>
{% endblock %}
