{% extends 'base_backend.html.twig' %}

{% block title %}New GuidelineTable{% endblock %}

{% block body %}
    <h1>Create new GuidelineTable</h1>

    {{ include('guideline_table/_form.html.twig') }}

    <a href="{{ path('guideline_table_index') }}">back to list</a>
{% endblock %}
