{% extends 'base_backend.html.twig' %}
{% block title %}GuidelineTable{% endblock %}

{% block body %}
    <h1>GuidelineTable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guideline_table.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ guideline_table.number }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ guideline_table.content }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ guideline_table.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guideline_table_index') }}">back to list</a>

    <a href="{{ path('guideline_table_edit', {'id': guideline_table.id}) }}">edit</a>

    {{ include('guideline_table/_delete_form.html.twig') }}
{% endblock %}
