/*guideline history list elements*/
.gh-li {
    display: none;
}

/*guideline source div*/
#gs-div {
    display: none;
}

/*formatted anchors*/
.formatted-anchor {
    background-color: gold;
}

/* get rid of the save button for the new algorithm form */
/*form[name=algorithm] > button {*/
/*    display: none;*/
/*}*/

.empty-sortable {
    padding-bottom: 20px;
}

.recommendedPath {
    background-color: #63a563;
}

.recommendedPath::after {
    content: 'Selecting these QuestionItems (AND connection!) will display the Quotes as "correctly followed". ';
}

.modify-item-condition{
    border: 2px solid green;
    padding: 50px;
    margin: 50px;
}