a, #questionaire a, #anchor-popup a {
    color: #337ab7;
}

.navbar {
    display: none;
    position: absolute;
    width: 100%
}

footer {
    display: none;
}

body {
    /*background-image: linear-gradient(to bottom right, #232629, #5e646e*/
    /*);*/
    background: #2f3337;
}

.body-wrapper {
    padding: 5% 0 0 0;
}

#fs-form-wrap {
    display: none;
}

.intro-banner-made-by {
    color: #9197a1;
}

#limit-search-box {
    display: none;
}

.intro {
    display: none;
}

/*modification to external components*/


/*.fs-form-overview .fs-fields::before {*/
/*    display: block;*/
/*    margin-bottom: 2.5em;*/
/*    color: #3b3f45;*/
/*    content: 'Take a look at the guidelines and cooperate with experts in the field.';*/
/*    font-weight: 700;*/
/*    font-size: 1.85em;*/
/*}*/

.fs-form-overview .fs-fields input {
    font-size: 1em;
    border-bottom: 1px solid;
    border-bottom-color: #3b3f45;
}

.fs-form-overview .fs-fields > li, .no-js .fs-form .fs-fields > li {
    border-bottom: none;
}

.fs-form-overview {
    padding: 2.5em 10% 6em;
}

.fs-progress {
    display: none;
}

.fs-form {
    font-size: 1.4em;
}

.fs-numbers {
    display: none;
}

.fs-form-full {
    top: 25%;
}

#intro-description {
    top: 5%;
    position: relative;
    padding: 50px 0;
}

.js-questionaire-item option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}
.js-questionaire-item option:checked::before {
    content: "\2611";
}

button.fs-continue{
    color: white;
    border: 3px solid #ffffff;
}

.fs-continue::after {
    color: #9197a1;
    font-size: 16px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .body-wrapper {
        padding: 10% 0 0 0;
    }

    body{
        background-color: #3b3f45;
        background-image: initial;
    }
}