<script>

    $(document).ready(function () {
        // make an ajax call to the api for the guidelinetext
        $("#anchor_guideline").click(function () {
            guidelineIdValue = $("#anchor_guideline option:selected").attr("value");

            $.post('{{ url('api-getGuidelineText') }}',
                {
                    guidelineId: guidelineIdValue,
                },
                function (data, status) {
                    $("#guidelineText").html(data.text);
                });
        });

    });

</script>
