{% extends 'base_backend.html.twig' %}

{% block title %}Edit Anchor{% endblock %}

{% block body %}
    <h1>Edit Anchor</h1>

    {{ include('anchor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('anchor_index') }}">back to list</a>

    {{ include('anchor/_delete_form.html.twig') }}

    <div id="guidelineText"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('anchor/_guideline_ajax_call.html.twig') }}
{% endblock %}
