{% extends 'base_backend.html.twig' %}

{% block title %}Anchor index{% endblock %}

{% block body %}
    <h1>Anchor index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for anchor in anchors %}
            <tr>
                <td>{{ anchor.id }}</td>
                <td>{{ anchor.text |length > 100 ? anchor.text|slice(0, 100) ~ '...' : anchor.text|raw }}</td>
                <td>
                    <a href="{{ path('anchor_show', {'id': anchor.id}) }}">show</a>
                    <a href="{{ path('anchor_edit', {'id': anchor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
