{% extends 'base_backend.html.twig' %}

{% block title %}Anchor{% endblock %}

{% block body %}
    <h1>Anchor</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Guideline</th>
            <td>{{ anchor.guideline }}</td>
        </tr>
            <tr>
                <th>Text</th>
                <td>{{ anchor.text|raw }}</td>
            </tr>
            <tr>
                <th>Context</th>
                <td>{{ anchor.context|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('anchor_index') }}">back to list</a>

    <a href="{{ path('anchor_edit', {'id': anchor.id}) }}">edit</a>

    {{ include('anchor/_delete_form.html.twig') }}
{% endblock %}
