{% extends 'base_backend.html.twig' %}

{% block title %}QuestionItem{% endblock %}

{% block body %}
    <h1>QuestionItem</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ questionItem.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ questionItem.type }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ questionItem.content }}</td>
        </tr>
        <tr>
            <th>ParentId</th>
            <td>{{ questionItem.parentId }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('anchor_questionitem_new', {'questionItemId': questionItem.id}) }}">
        <button>Add Anchors</button>
    </a>

    <a href="{{ path('question_item_index') }}">back to list</a>

    <a href="{{ path('question_item_edit', {'id': questionItem.id}) }}">edit</a>

    {{ include('question_item/_delete_form.html.twig') }}
{% endblock %}
