<form method="post" action="{{ path('guideline_source_delete', {'id': guideline_source.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guideline_source.id) }}">
    <button class="btn">Delete</button>
</form>
