{% extends 'base_backend.html.twig' %}

{% block title %}Edit GuidelineSource{% endblock %}

{% block body %}
    <h1>Edit GuidelineSource</h1>

    {{ include('guideline_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('guideline_source_index') }}">back to list</a>

    {{ include('guideline_source/_delete_form.html.twig') }}
{% endblock %}
