{% extends 'base_backend.html.twig' %}
{% block title %}GuidelineSource index{% endblock %}

{% block body %}
    <h1>GuidelineSource index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>QuoteNumber</th>
                <th>ArticleQuoteString</th>
                <th>PubmedId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guideline_source in guideline_sources %}
            <tr>
                <td>{{ guideline_source.id }}</td>
                <td>{{ guideline_source.quoteNumber }}</td>
                <td>{{ guideline_source.articleQuoteString }}</td>
                <td>{{ guideline_source.pubmedId }}</td>
                <td>
                    <a href="{{ path('guideline_source_show', {'id': guideline_source.id}) }}">show</a>
                    <a href="{{ path('guideline_source_edit', {'id': guideline_source.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guideline_source_new') }}">Create new</a>
{% endblock %}
