{% extends 'base_backend.html.twig' %}

{% block title %}New GuidelineSource{% endblock %}

{% block body %}
    <h1>Create new GuidelineSource</h1>

    {{ include('guideline_source/_form.html.twig') }}

    <a href="{{ path('guideline_source_index') }}">back to list</a>
{% endblock %}
