{% extends 'base_backend.html.twig' %}

{% block title %}GuidelineSource{% endblock %}

{% block body %}
    <h1>GuidelineSource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guideline_source.id }}</td>
            </tr>
            <tr>
                <th>QuoteNumber</th>
                <td>{{ guideline_source.quoteNumber }}</td>
            </tr>
            <tr>
                <th>ArticleQuoteString</th>
                <td>{{ guideline_source.articleQuoteString }}</td>
            </tr>
            <tr>
                <th>PubmedId</th>
                <td>{{ guideline_source.pubmedId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guideline_source_index') }}">back to list</a>

    <a href="{{ path('guideline_source_edit', {'id': guideline_source.id}) }}">edit</a>

    {{ include('guideline_source/_delete_form.html.twig') }}
{% endblock %}
