{% extends 'base_frontend.html.twig' %}

{% block title %}Hello Contributor!{% endblock %}
{% block body %}
{{ parent() }}

    {% for questionaireResult in questionaireResults %}

        {% if questionaireResult.cmt == 'finalSubmit' %}
        <h3>{{ questionaireResult.slug }}</h3>
        <a href="">Comment on this case</a>
        <table class="table text-left">
            <thead>
            <tr>
                <th>Selected Items</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>


                <tr>

                    <td>
                            {% if questionaireResult.getQuestionaire.getCaseReportTemmplate is not null %}

                                {{ caseReports[questionaireResult.getId]|raw }}

                                {% else %}
                        <ul>
                                    {% for questionItem in questionaireResult.getSelectedQuestionItems %}
                                        <li>{{ parentQuestionItems[questionItem.parentId] }} -> {{ questionItem.content }}</li>
                                    {% endfor %}
                        </ul>
                            {% endif %}

                    </td>

                    <td>
                        {{ questionaireResult.cmt }}
                    </td>
                </tr>

            </tbody>
        </table>


        <hr><br><br><br>
        {% endif %}
    {% endfor %}


{% endblock %}