{% extends 'base_frontend.html.twig' %}

{% block title %}Hello Contributor!{% endblock %}
{% block body %}
{{ parent() }}


    <ul>
        {% for questionaire in questionaires %}<li><a href="{{ url('case_index_questionaire', {'questionaire': questionaire.title}) }}">
                {{ questionaire.title }}


            </a>   {% if questionaire.getQuestionaireResults | length > 0 %}
{#            <span style="display: initial; position: initial;" class="button-badge"> {{ questionaire.getQuestionaireResults | length  }}</span>#}
        {% endif %}</li>
        {% endfor %}
    </ul>


{% endblock %}