<form method="post" action="{{ path('guideline_figure_delete', {'id': guideline_figure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guideline_figure.id) }}">
    <button class="btn">Delete</button>
</form>
