{% extends 'base_backend.html.twig' %}

{% block title %}Edit GuidelineFigure{% endblock %}

{% block body %}
    <h1>Edit GuidelineFigure</h1>

    {{ include('guideline_figure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('guideline_figure_index') }}">back to list</a>

    {{ include('guideline_figure/_delete_form.html.twig') }}
{% endblock %}
