{% extends 'base_backend.html.twig' %}

{% block title %}GuidelineFigure index{% endblock %}

{% block body %}
    <h1>GuidelineFigure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guideline_figure in guideline_figures %}
            <tr>
                <td>{{ guideline_figure.id }}</td>
                <td>{{ guideline_figure.filename }}</td>
                <td>{{ guideline_figure.description }}</td>
                <td>
                    <a href="{{ path('guideline_figure_show', {'id': guideline_figure.id}) }}">show</a>
                    <a href="{{ path('guideline_figure_edit', {'id': guideline_figure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guideline_figure_new') }}">Create new</a>
{% endblock %}
