{% extends 'base_backend.html.twig' %}

{% block title %}GuidelineFigure{% endblock %}

{% block body %}
    <h1>GuidelineFigure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guideline_figure.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ guideline_figure.filename }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ guideline_figure.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guideline_figure_index') }}">back to list</a>

    <a href="{{ path('guideline_figure_edit', {'id': guideline_figure.id}) }}">edit</a>

    {{ include('guideline_figure/_delete_form.html.twig') }}
{% endblock %}
