{% extends 'base_backend.html.twig' %}

{% block title %}Edit Questionaire{% endblock %}

{% block body %}
    <h1>Edit Questionaire</h1>

    {{ include('questionaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('questionaire_index') }}">back to list</a>

    {{ include('questionaire/_delete_form.html.twig') }}
{% endblock %}
