{% extends 'base_backend.html.twig' %}

{% block title %}Questionaire index{% endblock %}

{% block body %}
    <h1>Questionaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionaire in questionaires %}
            <tr>
                <td>{{ questionaire.title }}</td>
                <td>
                    <a href="{{ path('questionaire_edit', {'id': questionaire.id}) }}">edit</a>
                    <a href="{{ path('question_item_index_by_questionaire', {'questionaireId': questionaire.id}) }}"><button>Add QuestionItems</button></a>
                    <a href="{{ path('guideline_new', {'questionaireId': questionaire.id}) }}"><button>Add Guidelines</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('questionaire_new') }}">Create new</a>
{% endblock %}
