{% extends 'base_backend.html.twig' %}

{% block title %}New Questionaire{% endblock %}

{% block body %}
    <h1>Create new Questionaire</h1>

    {{ include('questionaire/_form.html.twig') }}

    <a href="{{ path('questionaire_index') }}">back to list</a>
{% endblock %}
