{% extends 'base_backend.html.twig' %}

{% block title %}Questionaire{% endblock %}

{% block body %}
    <h1>Questionaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ questionaire.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ questionaire.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('questionaire_index') }}">back to list</a>

    <a href="{{ path('questionaire_edit', {'id': questionaire.id}) }}">edit</a>

    {{ include('questionaire/_delete_form.html.twig') }}
{% endblock %}
