{% extends 'base_backend.html.twig' %}

{% block title %}Edit EvidenceLevel{% endblock %}

{% block body %}
    <h1>Edit EvidenceLevel</h1>

    {{ include('evidence_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evidence_level_index') }}">back to list</a>

    {{ include('evidence_level/_delete_form.html.twig') }}
{% endblock %}
