{% extends 'base_backend.html.twig' %}

{% block title %}EvidenceLevel index{% endblock %}

{% block body %}
    <h1>EvidenceLevel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Specification</th>
                <th>Level</th>
                <th>Description</th>
                <th>Hierachy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evidence_level in evidence_levels %}
            <tr>
                <td>{{ evidence_level.id }}</td>
                <td>{{ evidence_level.specification }}</td>
                <td>{{ evidence_level.level }}</td>
                <td>{{ evidence_level.description }}</td>
                <td>{{ evidence_level.hierachy }}</td>
                <td>
                    <a href="{{ path('evidence_level_show', {'id': evidence_level.id}) }}">show</a>
                    <a href="{{ path('evidence_level_edit', {'id': evidence_level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evidence_level_new') }}">Create new</a>
{% endblock %}
