{% extends 'base_backend.html.twig' %}

{% block title %}New EvidenceLevel{% endblock %}

{% block body %}
    <h1>Create new EvidenceLevel</h1>

    {{ include('evidence_level/_form.html.twig') }}

    <a href="{{ path('evidence_level_index') }}">back to list</a>
{% endblock %}
