{% extends 'base_backend.html.twig' %}

{% block title %}EvidenceLevel{% endblock %}

{% block body %}
    <h1>EvidenceLevel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evidence_level.id }}</td>
            </tr>
            <tr>
                <th>Specification</th>
                <td>{{ evidence_level.specification }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ evidence_level.level }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evidence_level.description }}</td>
            </tr>
            <tr>
                <th>Hierachy</th>
                <td>{{ evidence_level.hierachy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evidence_level_index') }}">back to list</a>

    <a href="{{ path('evidence_level_edit', {'id': evidence_level.id}) }}">edit</a>

    {{ include('evidence_level/_delete_form.html.twig') }}
{% endblock %}
