{% extends 'base_frontend.html.twig' %}

{% block title %}About FungAssist{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8">
            <h2>About FungAssist</h2>
            <p>
                Invasive fungal diseases (IFD) are a major healthcare burden in immunocompromised patients.
                While academic centers usually harbor at least basic expertise in diagnosis and management of IFD,
                that may not be the case in general hospitals and private practices. These clinician groups are difficult to reach through
                educational interventions, algorithms, and other persuasive techniques. </p>
            <p>We here present a web-based electronic decision aid. The tool will guide the requesting physician step-by-step through the diagnostic and therapeutic
                process and provide comprehensive up-to-date guideline excerpts from national and international guidelines. In
                addition to providing clinical information, if the physician agrees, the documented case will be stored and he will be
                re-contacted to report the final outcome of the patient and evaluate the quality of the information given. Usage
                of this tool will expedite dissemination of current guidelines and improve the quality of diagnosis, thus allowing
                targeted treatment strategies.
            </p>
        </div>
        <div class="col-sm-2 sidenav">
            <h3></h3>

        </div>
    </div>

{% endblock %}

