{% extends 'base_frontend.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8">
            <h2>Contact</h2>
            Prof. Dr. med. Jörg-Janne Vehreschild
            <br><br>
            Herderstraße 52-54
            <br><br>
            50931 Köln
            <br><br>
            Telefon: +49 221 47886973
            <br><br>
            Telefax: +49 221 4783611
            <br><br>
            E-Mail: joerg-janne.vehreschild@uk-koeln.de
        </div>
        <div class="col-sm-2 sidenav">
            <h3></h3>

        </div>
    </div>

{% endblock %}