{% if is_granted('ROLE_REVIEWER') %}

    {% if not anchor.reviewStatus == null %}

    {% else %}


        <a href="{{ path('review_anchor_approve', {'id': anchor.id, 'questionaireId': questionaire.id}) }}"
           class="btn btn-info">
            <span class="glyphicon glyphicon-ok-circle"></span> OK
        </a>

        <div class="modal fade" id="rejectAnchor-{{ anchor.id }}" tabindex="-1"
             role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="anchor-{{ anchor.id }}"
                              action="{{ path('question_item_index_by_questionaire', {'questionaireId': questionaire.id}) }}"
                              method="get">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Review
                                    Message (briefly explain why you rejected this
                                    item):</label>
                                <textarea class="form-control"
                                          id="message-text-anchor-{{ anchor.id }}"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="button" value="{{ anchor.id }}" data-reject-url="{{ url('api-rejectAnchor') }}"
                                class="btn btn-primary reject-anchor-submit">Reject
                            Anchor and save message
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-danger btn-rounded mb-4" data-toggle="modal"
               data-target="#rejectAnchor-{{ anchor.id }}">
                <span class="glyphicon glyphicon-remove-circle"></span> Reject
            </a>
        </div>

    {% endif %}


{% endif %}