{% extends 'base_backend.html.twig' %}

{% block title %}Hello ReviewController!{% endblock %}

{% block body %}



{#    {% for questionItem in questionItems %}#}
{#        <h3>Anchors for {{ questionItem.content }}</h3>#}
{#        <table class="table text-left">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Text</th>#}
{#                <th>Guideline</th>#}
{#                <th>Review Status</th>#}
{#                <th>Review Comments</th>#}
{#                <th>Actions</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for anchor in questionItem.getAnchors %}#}
{#                {% if not anchor.reviewStatus == null %}#}
{#                    <tr class="text-muted">#}
{#                        <td>{{ anchor.text|raw }}</td>#}
{#                        <td>{{ anchor.guideline }}</td>#}
{#                        <td>{{ anchor.reviewStatus }}</td>#}
{#                        <td>{{ anchor.reviewCmt }}</td>#}

{#                        <td>#}
{#                            <span class="glyphicon glyphicon-ok-circle"></span> OK#}
{#                            <span class="glyphicon glyphicon-remove-circle"></span> Reject#}
{#                            <a href="{{ path('anchor_show', {'id': anchor.id}) }}" class="btn btn-success btn-lg">#}
{#                                <span class="glyphicon glyphicon-check"></span> Show Anchor#}
{#                            </a>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% else %}#}
{#                    <tr>#}
{#                        <td>{{ anchor.text|raw }}</td>#}
{#                        <td>{{ anchor.guideline }}</td>#}
{#                        <td>{{ anchor.reviewStatus }}</td>#}
{#                        <td>{{ anchor.reviewCmt }}</td>#}

{#                        <td><a href="{{ path('review_anchor_approve', {'id': anchor.id}) }}" class="btn btn-info btn-lg">#}
{#                                <span class="glyphicon glyphicon-ok-circle"></span> OK#}
{#                            </a>#}
{#                            <a href="#" class="btn btn-danger btn-lg">#}
{#                                <span class="glyphicon glyphicon-remove-circle"></span> Reject#}
{#                            </a>#}
{#                            <a href="{{ path('anchor_show', {'id': anchor.id}) }}" class="btn btn-success btn-lg">#}
{#                                <span class="glyphicon glyphicon-check"></span> Show Anchor#}
{#                            </a>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endif %}#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="16">no records found</td>#}
{#                </tr>#}
{#            {% endfor %}#}

{#            </tbody>#}
{#        </table>#}

{#    {% endfor %}#}

{% endblock %}
