<form id="questionaire" class="fs-form fs-form-full" autocomplete="off" method="post"
      data-url-submit="{{ url('api-submitQuestionaire') }}"
      data-url="{{ url('thankyou_for_submit') }}"
      data-url-patient-report="{{ url('api-getPatientReport') }}"
      data-url-active-questionitems="{{ url('api-getActiveQuestionItems') }}"
      data-questionaire-id="{{ questionaire.id }}"
>
    <ol class="fs-fields">
        {% if not questionItemParent.children == null %}
            {% for selectableQuestionItem in questionItemParent.children %}

                <li {% if selectableQuestionItem.type == 'SINGLE_SELECT' %}data-input-trigger{% endif %}
                    class="question-item {% if selectableQuestionItem.displayCondition is null %}active{% else %}inactive{% endif %}" data-qi-id="{{ selectableQuestionItem.id }}" >
                    <label class="js-questionaire-item required fs-field-label fs-anim-upper {% if selectableQuestionItem.type == 'MULTI_SELECT' %}multi-select-label{% endif %}"
                           for="question_item_type">{{ selectableQuestionItem.content }}</label>
                    <select class="js-questionaire-item form-control qi-select form-selectbox fs-mark fs-anim-lower"
                            {% if selectableQuestionItem.type == 'MULTI_SELECT' %}multiple
                            data-placeholder="Select your option"{% endif %}
                            id="qi-{{ selectableQuestionItem.id }}" "
                    name="{{ selectableQuestionItem.id }}{% if selectableQuestionItem.type == 'MULTI_SELECT' %}[]{% endif %}">
                    {% if selectableQuestionItem.type == 'SINGLE_SELECT' %}
                        <option value="" disabled selected>Select your option</option>
                    {% endif %}
                    {% for option in selectableQuestionItem.children %}
                        <option name="{{ option.id }}" id="qi-{{ option.id }}"
                                value="{{ option.id }}" data-qi-id="{{ option.id }}"
                                class="qi-option question-item {% if option.displayCondition is null %}active {% else %}inactive{% endif %}"
                        >{{ option.content }} </option>
                    {% endfor %}
                    </select>
                </li>

            {% endfor %}
        {% endif %}
    </ol>
    <button id="questionaire-submit" data-url="{{ url('thankyou_for_submit') }}" class="fs-submit"
            type="submit">Submit
    </button>
    {#                    <button type="submit" id="opener" value="Submit">Submit</button>#}
</form>