{% extends 'base.html.twig' %}

{% block title %}Backend{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/full_screen_form/demo.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/frontend.css') }}">

{% endblock %}
{% block nav_bar %}
    {{ parent() }}
{% endblock %}

    {% block body %}{{ parent() }}
        <footer class="container-fluid text-center navbar-fixed-bottom">
    <span>Made with <i class="fa fa-heart" style="color: red;"></i> by academic researchers of the University Hospital of Cologne with support by an unrestricted research grant from Pfizer Inc. <i
                class="fa fa-question-circle tooltip-frontend"
                title="Pfizer ..."></i></span>

        </footer>

        {#    disclaimer modal#}
        <div id="disclaimer-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Disclaimer</h5>
                    </div>
                    <div class="modal-body">
                        <p>This project is still under development. Feel free to play around :) Nevertheless: Prior to
                            entering the FungAssist™ web service please agree on the applicable statement. FungAssist™
                            will handle all data according to the DS-GVO. All data is stored on a german server.</p>
                        <label><input type="checkbox" id="agree-to" value="Bike"> I am aware that FungAssist™ does not
                            provide treatment recommendations, but provides automated help in evaluating the guidelines.
                            The full responsibility for the treatment of the patient, remains alone with the attending
                            physician.</label><br>
                        <label><input type="checkbox" id="agree-to-2" value="Car"> I assure, that I am entering the
                            FungAssist™ web service via a non-personal electronic device that is authorized and used for
                            documentation of sensitive patient data by my employing institution (e.g. office computer).
                            OR <br> I am entering the FungAssist™ web service via personal electronic device (e.g.
                            private laptop, private smartphone). I agree on all terms of use mentioned below.
                            Documentation of patient data is confidential and subject to prevailing privacy laws and
                            policies. FungAssist™ web service should only be used for record and analysis of patient
                            data if secure data transmission can be provided. Usage of personal devices is only allowed
                            if in accordance with privacy and security policies of your employing institution. Any
                            violation of this regulations may lead to legal consequences. FungAssist™ is not liable for
                            loss of data, data misuse or any other effect resulting from accessing FungAssist™ through
                            unauthorized personal devices.
                            If authorized by your employer all personal devices should be protected by lock screens and
                            a strong PIN/Password. Data safety should be ensured by currently updating malware and
                            security software. Data entering should only be performed via secure WIFI or VPN
                            connections, unsecured and public Wi-Fi connections should never be used. </label><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-save-disclaimer" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
            integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/frontend.js') }}"></script>
{% endblock %}