<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Welcome to the SpaceBar{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/full_screen_form/normalize.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chosen.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jBox.all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">


    {% endblock %}
</head>

<body>
<!--This is for debugging - remove dump() from base.html.twig -->
{#{{ dump() }}#}
{% block nav_bar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('home') }}">FungAssist™</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url('about_page') }}">About</a></li>
                    <li><a href="{{ url('contact_page') }}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="feedback-button"><a><span class="glyphicon glyphicon-envelope"></span> Feedback</a></li>
                    {% if is_granted('ROLE_CONTRIBUTOR') == true %}
                        <li id="nav-cases" class="tooltip-frontend" data-url="{{ url('api-getOpenCaseCount') }}" title="See open cases of this disease that are currently discussed"><a href="{{ url('case_index') }}"><span  class="glyphicon glyphicon-inbox"></span> Cases<span
                                    class="button-badge"></span></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CONTRIBUTOR') == true %}
                        <li><a href="{{ url('backend') }}"><span class="glyphicon glyphicon-lock"></span> Backend</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') == true %}
                        <li><a href="{{ url('fos_user_security_logout') }}"><span
                                        class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li><a href="{{ url('fos_user_security_login') }}"><span
                                        class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<div class="container-fluid fill body-wrapper">


    {% block body %}{% endblock %}
</div>

{#    feedback modal #}
<div class="modal fade" id="feedback-modal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Feedback</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Please describe how we can improve this
                            plattform</label>
                        <textarea class="form-control"
                                  id="feedback-message"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Email for contact</label>
                        <input class="form-control" placeholder="(optional)"
                               id="feedback-replyTo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="feedback-send" data-url="{{ url('api-sendFeedback') }}"
                        class="btn btn-primary">Send Feedback!
                </button>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('js/jBox.all.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('js/global.js') }}"></script>
{% endblock %}
</body>
</html>