<button id="gs-btn-toggle">Show / hide available sources</button>
<div id="gs-div">
{% for guidelineSource in guidelineSources %}
    <button value="{{ guidelineSource.id }}" class="gs-btn">{{ guidelineSource.articleQuoteString }}</button>
{% else %}
    <ul>
    <li>no sources found</li>
    </ul>
{% endfor %}
</div>
<br>
<br>
<br>
