{% extends 'base_backend.html.twig' %}

{% block title %}Edit Guideline{% endblock %}

{% block body %}
    <h1>Edit Guideline</h1>
    {{ include('guideline/_render_guideline_sources.html.twig') }}
<ul>
    {% for key, diffToGuidelineHistory in diffToGuidelineHistories %}
        <li><button value="{{ key }}" class="gh-btn">Version Histroy {{ key }}</button></li>
        <li class="gh-li" id="gh-li-{{ key }}">{{ diffToGuidelineHistory|raw }}</li>
{#        "#}
    {% else %}
        <tr>
            <td colspan="16">no histories found</td>
        </tr>
    {% endfor %}
</ul>

    {{ include('guideline/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('guideline_index') }}">back to list</a>

    {{ include('guideline/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function copyToClip(str) {
            function listener(e) {
                e.clipboardData.setData("text/html", str);
                e.clipboardData.setData("text/plain", str);
                e.preventDefault();
            }

            document.addEventListener("copy", listener);
            document.execCommand("copy");
            document.removeEventListener("copy", listener);
        }

        $(document).ready(function () {

            $(".gs-btn").click(function () {
                copyToClip('<sup><a href="/guidelinesource/' + $(this).attr("value") + '">source</a></sup>');
                alert('copied ' + $(this).text() + ' - Feel free to paste it in the right place below in the text field');

            });

            // toggle on/off version history
            $(".gh-btn").click(function () {
                versionCount = $(this).attr('value');
                // alert(versionCount);
                $('#gh-li-'+versionCount).toggle();

            });

            // toggle on/off available sources
            $("#gs-btn-toggle").click(function () {
                versionCount = $(this).attr('value');
                // alert(versionCount);
                $('#gs-div').toggle();

            });
        });


    </script>
{% endblock %}