{% extends 'base_backend.html.twig' %}

{% block title %}Guideline index{% endblock %}

{% block body %}
    <h1>Guideline index</h1>


    {% for questionaire in questionaires %}
        <h3>{{ questionaire.title }}</h3>
        <a href="{{ path('guideline_new', {'questionaireId':questionaire.id}) }}">Add new Guideline
            to {{ questionaire }}</a>
        <table class="table text-left">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for guideline in questionaire.getGuidelines %}

                <tr>
                    <td>{{ guideline }}</td>

                    <td>
                        <a href="{{ path('guideline_show', {'id': guideline.id}) }}">show</a>
                        <a href="{{ path('guideline_edit', {'id': guideline.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="16">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <hr><br><br><br>
    {% endfor %}






{% endblock %}
