{% extends 'base_backend.html.twig' %}
{% block title %}New Guideline{% endblock %}

{% block body %}
    <h3>Create new Guideline</h3>
    for
    <p>{{ questionaire }}</p>
    {{ include('guideline/_form.html.twig') }}

    <a href="{{ path('guideline_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
{#   { <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/mootools/1.3/mootools-yui-compressed.js"></script>
    <script src="{{ asset('js/mootools-more-1.4.0.1.js') }}"></script>
    <script src="{{ asset('js/chosen.js') }}"></script>
    <script src="{{ asset('js/Locale.de-DE.Chosen.js') }}"></script>
    <script>
        $$("select.chzn-select").chosen();
    </script>
{% endblock %}