{% extends 'base_backend.html.twig' %}

{% block title %}Guideline{% endblock %}

{% block body %}
    <h1>Guideline</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guideline.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ guideline.title }}</td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>{{ guideline.authors }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ guideline.formattedText|raw }}</td>
            </tr>
            <tr>
                <th>Organization</th>
                <td>{{ guideline.organization }}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{ guideline.abstract }}</td>
            </tr>
            <tr>
                <th>Appendix</th>
                <td>{{ guideline.appendix }}</td>
            </tr>
            <tr>
                <th>Acknowledgements</th>
                <td>{{ guideline.acknowledgements }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ guideline.publishedAt ? guideline.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedBy</th>
                <td>{{ guideline.publishedBy }}</td>
            </tr>
            <tr>
                <th>PublishedIn</th>
                <td>{{ guideline.publishedIn }}</td>
            </tr>
            <tr>
                <th>Doi</th>
                <td>{{ guideline.doi }}</td>
            </tr>
            <tr>
                <th>ConflictsOfInterest</th>
                <td>{{ guideline.conflictsOfInterest }}</td>
            </tr>
            <tr>
                <th>Sponsoring</th>
                <td>{{ guideline.sponsoring }}</td>
            </tr>
            <tr>
                <th>Cmt</th>
                <td>{{ guideline.cmt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guideline_index') }}">back to list</a>

    <a href="{{ path('guideline_edit', {'id': guideline.id}) }}">edit</a>

    {{ include('guideline/_delete_form.html.twig') }}
{% endblock %}
